{{#each posts}}
  {{@key}}
  <hr />
  {{#each .}}
    {{#if draft}}
      <div>[DRAFT] <a href="/posts/{{urlTitle}}">{{title}}</a></div>
    {{else}}
      <div><a href="/posts/{{urlTitle}}">{{title}}</a></div>
    {{/if}}
  {{/each}}
  <br />
{{else}}
  <p>No posts to display.</p>
{{/each}}
